@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<br />
<h2>Contact</h2>
<hr />

<div class="row">
    <div class="col-6">
        
        <br />
        <div class="card card-body">
            <h3>Details</h3>
            <div>
                <i class="fas fa-envelope"></i>
                <span><i>Admin</i></span>
            </div>
            <div>
                <i class="fas fa-phone-square"></i>
                <span><i>1233456789</i></span>
            </div>
            <div>
                <i class="fab fa-mail-square"></i>
                <span><i>@@Admin123@gmail.com</i></span>
            </div>
        </div>
        <br />
        <br />

    </div>
    <div class="col">
        <img style="width:100%; height:317px; object-fit: cover;" src="https://images.pexels.com/photos/1333742/pexels-photo-1333742.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" />
    </div>
</div>
<br />